@{
    ViewData["Title"] = "DetalleEquipo";
}

    <div class="flex-container">

        <div class="flex-item">
            
            <h1 class="mt-4">@ViewBag.DetalleEquipo.Nombre</h1>
            <img src="@ViewBag.DetalleEquipo.Escudo" alt=""class="mt-4 w-25">
            <img src="@ViewBag.DetalleEquipo.Camiseta" alt="" class="mt-3 ml-4 w-25">
            <h4 class="mt-4">Continente: @ViewBag.DetalleEquipo.Continente</h4>  
            <h4 class="mt-4">Copas ganados: @ViewBag.DetalleEquipo.CopasGanadas</h4>
            <a href='@Url.Action("AgregarJugador","Home", new {IdEquipo=@ViewBag.DetalleEquipo.IdEquipo})' class="btn boton mt-4 shadow">Agregar jugador +</a>
            
        </div>

        <div class="flex-item">

            <table class="table mt-5 " style="" >
                <thead class="thead bg-dark text-white text-center">
                    <tr>
                    <th scope="col">Nombre Jugador</th>
                    <th scope="col" >Número Camiseta</th>
                    <th scope="col">Detalle Jugador</th>
                    <th scope="col"> </th>
                    <th scope="col"> </th>
                    
                    </tr>
                </thead>
                <tbody class="bg-light text-black text-center">

                    @foreach (Jugador jug in @ViewBag.ListarJugadores)
                    {
                        <tr>
                            <th scope="row">@jug.Nombre</th>
                            <td>@jug.NumCamiseta</td>
                            <td><a href='@Url.Action("VerDetalleJugador","Home", new {IdJugador = jug.IdJugador})' class="text-secondary">Información</a></td>     
                            <td><a href='@Url.Action("EliminarJugador","Home", new {IdJugador=@jug.IdJugador, IdEquipo=@ViewBag.DetalleEquipo.IdEquipo})' class="btn btn-danger">Borrar jugador</a></td>
                            <td><a href='@Url.Action("EditarJugador","Home", new {IdJugador=@jug.IdJugador, IdEquipo=@ViewBag.DetalleEquipo.IdEquipo})' class="btn btn-warning">Editar jugador</a></td>   
                        </tr>               
                    }
                        
                </tbody>
            </table>

        </div>

    </div>
    