@{
    ViewData["Title"] = "DetalleEquipo";
}

<body>
    <div class="flex-container">

        <div class="flex-item mb-5">
            
            <h1 class="mt-4">@ViewBag.DetalleEquipo.Nombre</h1>
            <img src="/equipos/@ViewBag.DetalleEquipo.Escudo" alt=""class="mt-4 w-25">
            <img src="@ViewBag.DetalleEquipo.Camiseta" alt="" class="mt-3 ml-4 w-25">
            <h4 class="mt-4">Continente: @ViewBag.DetalleEquipo.Continente</h4>  
            <h4 class="mt-4">Copas ganadas: @ViewBag.DetalleEquipo.CopasGanadas</h4>
            <iframe width="560" height="315" class="mt-4" src="@ViewBag.DetalleEquipo.Video" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            
            <br>

            
            
        </div>

        <div class="flex-item">

            <table class="table mt-5" style="" >
                <thead class="thead bg-dark text-white text-center">
                    <tr>
                    <th scope="col">Nombre Jugador</th>
                    <th scope="col" >Número Camiseta</th>
                    <th scope="col">Detalle Jugador</th>
                    <th scope="col"> </th>
                    <th scope="col"> </th>
                    
                    </tr>
                </thead>
                <tbody class="bg-light text-black text-center">

                    @foreach (Jugador jug in @ViewBag.ListarJugadores)
                    {
                        <tr class="filaJugador">
                            
                            <th scope="row" class="text-dark">@jug.Nombre</th>
                            <td class="text-dark">@jug.NumCamiseta</td>
                            <td><a href='@Url.Action("VerDetalleEquipo","Home", new {IdJugador=@jug.IdJugador, IdEquipo=@ViewBag.DetalleEquipo.IdEquipo})' class="btn" data-toggle="modal" data-target="#exampleModalCenter" style="color:blue;">Informacion</a></td>     
                            <td><a href='@Url.Action("EliminarJugador","Home", new {IdJugador=@jug.IdJugador, IdEquipo=@ViewBag.DetalleEquipo.IdEquipo})' class="btn btn-danger">Borrar jugador</a></td>
                            <td><a href='@Url.Action("EditarJugador","Home", new {IdJugador=@jug.IdJugador, IdEquipo=@ViewBag.DetalleEquipo.IdEquipo})' class="btn btn-warning text-light">Editar jugador</a></td>   
                        </tr>               
                    }
                        
                </tbody>
            </table>

            <a href='@Url.Action("AgregarJugador","Home", new {IdEquipo=@ViewBag.DetalleEquipo.IdEquipo})' class="btn boton mt-2 mb-5 shadow" style="float: left;" target="_blank">Agregar jugador +</a>
           
        </div>

        @if(@ViewBag.DetalleJugador != null){
            
            <div id="myModal" class="modal">

                <div class="modal-content sombra text-center">
                    <span class="close">&times;</span>                    
                    
                    <h1 class="mt-2" style="color: #70102C;">@ViewBag.DetalleJugador.Nombre</h1>
                    <img src="/jugadores/@ViewBag.DetalleJugador.Foto" alt="" class="mt-3 shadow-lg" width="35%" height="auto" style="margin:auto;">
                    <h5 class="mt-4 text-dark">Fecha de nacimiento: @ViewBag.DetalleJugador.FechaNacimiento.ToShortDateString().</h5>
                    <h5 class="mt-1 mb-3 text-dark">Equipo: @ViewBag.DetalleJugador.EquipoActual. </h5>   
                    
                </div>

            </div>
        }
        
        <!--
         <script>
            
            
            ESTE CODIGO TAN LINDO NO LO TERMINAMOS USANDO PERO FUE UN GRAN LOGRO 
            const botones = document.querySelectorAll(`button`);
            botones.forEach( (e) => {
                if(e.id) e.addEventListener('click', () => {
                    
                });
            });

        </script>
        -->
    </div>

    @if(@ViewBag.DetalleJugador != null){

    <script type ="text/javascript">

        var modal = document.getElementById("myModal");
        
        var btn = document.getElementById("myBtn");
        
        var span = document.getElementsByClassName("close")[0];
        
        function openModal() {
        modal.style.display = "block";
        }
        
        span.onclick = function() {
        modal.style.display = "none";
        }

        window.onclick = function(event) {
        if (event.target == modal) {
            modal.style.display = "none";
        }
        }

        openModal();

    </script>

    }
</body>
    