@{
    ViewData["Title"] = "DetalleEquipo";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>    
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</head>
<body class="body">
        
    <h1 class="mt-5">@ViewBag.DetalleEquipo.Nombre</h1>
    <img src="@ViewBag.DetalleEquipo.Escudo" alt=""class="mt-3 w-25">
    <img src="@ViewBag.DetalleEquipo.Camiseta" alt="" class="mt-3 w-25">
    <h4 class="mt-3">Continente: @ViewBag.DetalleEquipo.Continente</h4>  
    <h4 class="mt-3">Copas ganados: @ViewBag.DetalleEquipo.CopasGanadas</h4>
    <a href='@Url.Action("AgregarJugador","Home", new {IdEquipo=@ViewBag.DetalleEquipo.IdEquipo})' class="btn btn-primary mt-3">Crear jugador</a>

    
</body>
</html>