@{
    ViewData["Title"] = "Home Page";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>    
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</head>
<body class="body">

    <div class="text-center">

        <h1 class="mt-5">Equipos</h1>
           
        @foreach (Equipo equi in @ViewBag.Lista)
        {

            <div class="card" style="width: 20rem;">
                <img src="@equi.Escudo" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">@equi.Nombre</h5>                                     
                    <a href='@Url.Action("VerDetalleEquipo","Home", new {IdEquipo=equi.IdEquipo})' class="btn btn-primary">Ver equipo</a>
                </div>
            </div>                           
                
        }        

        <a href='@Url.Action("AgregarEquipo","Home")' class="btn btn-primary mt-3">Agregar equipo +</a>
  

    </div>
    

    
</body>
</html>
