@{
    ViewData["Title"] = "Home Page";
}

    <h1 class="mt-5 mb-5">Equipos</h1>

<<<<<<< HEAD
    

    <div class="container"> 
        <h1 class="mt-5 mb-5">Equipos</h1>

        <div class="row mb-4">
            @foreach (Equipo equi in @ViewBag.Lista)
            {
                <div class="col-sm">
                    <div class="card text-center rounded" style="width: 20rem; background:#9e0c06;">
                        <a href='@Url.Action("VerDetalleEquipo","Home", new {IdEquipo=equi.IdEquipo})'><img src="@equi.Escudo" class="card-img-top p-4" width="300px" height="300px" alt="..."></a>                            
                        <div class="card-body">
                            <h5 class="card-title mb-3">@equi.Nombre</h5>                                     
                            <a href='@Url.Action("VerDetalleEquipo","Home", new {IdEquipo=equi.IdEquipo})' class="btn btn-outline-light">Ver equipo</a>
                        </div>
                    </div> 
                </div>                              
            }        
        </div>
        

        <a href='@Url.Action("AgregarEquipo","Home")' class="btn btn-primary mt-5 mb-5">Agregar equipo +</a>
        
    </div> 
=======
    <div class="text-center">        

                
        <div class="container"> 
>>>>>>> 121cc9d7c79d300194571661cd124460c15c6085

  
    

    
